.container-fluid {
  padding: 20px;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  font-size: 0.875rem;
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-2, .col-md-4, .col-sm-6 {
  padding: 10px;
}

@media (max-width: 992px) {
  .col-lg-2 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.playlist-card {
  position: relative;
}

.card-img-container {
  position: relative;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.btn-play {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 128, 0, 0.8); /* Vert avec transparence */
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card:hover .btn-play {
  display: flex;
}

.search-result-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .playlist-card {
    margin-bottom: 20px;
  }
}
